@import url(font-nanum/nanumgothic/nanumgothic.css);
/*
 * barracks-cocker v0.2
 * 2014.12.26 tom : mobile > ax-scroll-top 추가
 */
.none {
  display: none;
}
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.util-textHidden {
  text-indent: 99999px;
  overflow: hidden;
}
.H10 {
  font-size: 1px;
  height: 10px;
}
.H20 {
  font-size: 1px;
  height: 20px;
}
.H30 {
  font-size: 1px;
  height: 30px;
}
.H40 {
  font-size: 1px;
  height: 40px;
}
.H50 {
  font-size: 1px;
  height: 50px;
}
.H60 {
  font-size: 1px;
  height: 60px;
}
.H70 {
  font-size: 1px;
  height: 70px;
}
.H80 {
  font-size: 1px;
  height: 80px;
}
.H90 {
  font-size: 1px;
  height: 90px;
}
.H100 {
  font-size: 1px;
  height: 100px;
}
.ax-sub-title {
  border-bottom: 1px solid #e2e2e2;
}
.ax-align-left {
  text-align: left;
}
.ax-align-center {
  text-align: center;
}
.ax-align-right {
  text-align: right;
}
html,
body {
  background: #f3f3f3;
  color: #333333;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", "Open sans", "Meiryo";
  font-size: 11px;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-stroke: 0.6px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
html input,
body input,
html select,
body select,
html textarea,
body textarea,
html button,
body button {
  font-family: "Nanum Gothic", "Apple SD Gothic Neo", "Malgun Gothic", "Open sans", "Meiryo";
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-stroke: 0.6px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover {
  color: #a6a6a6;
}
.modal-log-info-title {
  font-size: 14px;
  line-height: 44px;
  padding: 0px 10px;
  color: #000;
}
.modal-log-info-wrap {
  background: #fff;
  padding: 10px 10px 0px 10px;
  height: 100px;
  position: relative;
}
.modal-log-info-wrap .ax-loginfo {
  line-height: 60px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
}
.modal-log-info-wrap .ax-loginfo li {
  display: block;
  vertical-align: middle;
}
.modal-log-info-wrap .ax-loginfo li.profile .photo {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url('images/profile.png') no-repeat 50%;
  background-size: cover;
  -webkit-border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  border-radius: 50% 50% 50% 50%;
  border: 3px solid #cad0d9;
  margin-top: 10px;
}
.modal-log-info-wrap .ax-loginfo li.account {
  display: block;
  float: left;
  color: #333333;
  font-weight: bold;
  padding: 0px 10px;
}
.modal-log-info-wrap .ax-loginfo li.btns {
  position: absolute;
  right: 10px;
  bottom: 0px;
}
.modal-log-info-wrap .ax-loginfo li.lang {
  display: block;
  float: left;
}
.AXTree_none .AXTreeScrollBody {
  border: 0px none;
  border-top: 1px solid #959595;
}
.cm-s-eclipse {
  line-height: 1.8em;
}
.icn-stipe {
  background: #f39500;
}
#AXPage {
  font-size: 11px;
  /* 페이지 좌측 메뉴용 */
}
#AXPage .ax-wrap {
  margin: 0px auto;
}
#AXPage .ax-clear {
  clear: both;
}
#AXPage .ax-unit {
  margin: 0px 10px;
}
#AXPage .ax-col {
  float: left;
}
#AXPage div[class*="ax-col-"] {
  float: left;
  height: inherit;
}
#AXPage .ax-col-1 {
  width: 8.3334%;
}
#AXPage .ax-col-2 {
  width: 16.6667%;
}
#AXPage .ax-col-3 {
  width: 25%;
}
#AXPage .ax-col-4 {
  width: 33.3334%;
}
#AXPage .ax-col-5 {
  width: 41.6667%;
}
#AXPage .ax-col-6 {
  width: 50%;
}
#AXPage .ax-col-7 {
  width: 58.3334%;
}
#AXPage .ax-col-8 {
  width: 66.6667%;
}
#AXPage .ax-col-9 {
  width: 75%;
}
#AXPage .ax-col-10 {
  width: 83.3334%;
}
#AXPage .ax-col-11 {
  width: 91.6667%;
}
#AXPage .ax-col-12 {
  width: 100%;
}
#AXPage div[class*="mx-"] {
  display: none;
}
#AXPage .ax-header {
  z-index: 300;
  padding-bottom: 3px;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: #333333;
  opacity: 0.95;
  border-bottom: 1px solid #888;
}
#AXPage .ax-header .ax-logo {
  position: absolute;
  left: 30px;
  margin-top: 0px;
  z-index: 1;
  display: block;
  background: url("images/logo.png") no-repeat;
}
#AXPage .ax-header .ax-logo a {
  display: block;
  width: 123px;
  height: 50px;
  color: #5f6062;
}
#AXPage .ax-header .ax-logo h1 {
  color: #5f6062;
  font-size: 18px;
  word-spacing: -1px;
  font-family: Tahoma;
}
#AXPage .ax-header .ax-logo small {
  font-family: Verdana;
  font-size: 8px;
  color: #cececa;
}
#AXPage .ax-header .ax-top-menu {
  padding-left: 160px;
  height: 60px;
  width: 700px;
}
#AXPage .ax-header .ax-top-menu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-header .ax-top-menu ul li {
  float: left;
  font-size: 15px;
  line-height: 60px;
}
#AXPage .ax-header .ax-top-menu ul li a {
  padding: 0px 10px;
  color: #fff;
}
#AXPage .ax-header .ax-top-menu .varrow1 {
  position: absolute;
  background: transparent url('images/allow_menu1.gif') no-repeat;
  width: 19px;
  height: 10px;
  z-index: 2;
  _margin-top: 4px;
}
#AXPage .ax-header .ax-top-menu .varrow2 {
  position: absolute;
  background: transparent url('images/allow_menu2.gif') no-repeat;
  width: 19px;
  height: 10px;
  z-index: 2;
  _margin-top: 4px;
}
#AXPage .ax-header .ax-top-menu .harrow {
  position: absolute;
  background: transparent url('images/allow_menu3.gif') no-repeat;
  width: 9px;
  height: 13px;
  z-index: 2;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu {
  position: relative;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a {
  font-weight: 800;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a:hover {
  color: #f39500;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a:focus {
  color: #f39500;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .parentMenu a.on {
  color: #f39500;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu {
  position: absolute;
  line-height: 25px;
  font-size: 12px;
  display: none;
  z-index: 2000;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul {
  background: #ebebeb;
  border: 2px solid #333;
  border-radius: 5px;
  padding: 3px;
  margin: 0px;
  display: block;
  position: relative;
  box-shadow: 0px 0px 3px #ccc;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li {
  float: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #fff;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a {
  font-size: 12px;
  display: block;
  _width: 100%;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  border-radius: 3px;
  text-decoration: none;
  white-space: nowrap;
  color: #444;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a:hover {
  background: #f39500;
  color: #fff;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.on {
  background: #f39500;
  color: #fff;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.expand {
  background-image: url(images/rightArrows.png);
  background-repeat: no-repeat;
  background-position: 100% 0px;
  padding-right: 30px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childMenu ul li a.expand:hover {
  background-image: url(images/rightArrows.png);
  background-repeat: no-repeat;
  background-position: 100% -30px;
  padding-right: 30px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu ul {
  background: #ebebeb;
  border: 2px solid #333;
  padding: 3px;
  margin: 0px;
}
#AXPage .ax-header .ax-top-menu.AXMenuBox .childsMenu ul li {
  float: none;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #ebebeb;
}
#AXPage .ax-header .ax-loginfo {
  height: 60px;
  line-height: 60px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 10px;
  top: 0px;
  white-space: nowrap;
  font-weight: 800;
}
#AXPage .ax-header .ax-loginfo a {
  color: #fff;
}
#AXPage .ax-header .ax-loginfo li {
  display: inline;
  vertical-align: middle;
}
#AXPage .ax-header .ax-loginfo li.profile .photo {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  background: url('images/profile.png') no-repeat 50%;
  background-size: cover;
  -webkit-border-radius: 34px 34px 34px 34px;
  -moz-border-radius: 34px 34px 34px 34px;
  border-radius: 34px 34px 34px 34px;
  border: 3px solid #cad0d9;
  margin-top: 9px;
}
#AXPage .ax-header .ax-loginfo li.account {
  color: #999999;
  font-weight: bold;
  padding: 0px 10px;
}
#AXPage .ax-header .ax-loginfo li.lang {
  padding: 0px 0px;
}
#AXPage .ax-header .ax-loginfo li.btns a {
  color: #fff;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
#AXPage .ax-header .icn-stipe {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 5px;
  width: 100%;
  background: #f39500;
}
#AXPage .ax-body {
  z-index: 100;
  padding-bottom: 50px;
  /* 페이지 본문 패딩 조절용 */
}
#AXPage .ax-body .ax-title {
  height: 30px;
  overflow: hidden;
  padding: 20px;
}
#AXPage .ax-body .ax-title h1 {
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #505050;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-title h1 i.axi {
  vertical-align: middle;
}
#AXPage .ax-body .ax-title .desc {
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  color: #333333;
  text-align: center;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#AXPage .ax-body .ax-title .expand h1 {
  margin-left: 40px;
}
#AXPage .ax-body .ax-box {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  /* 페이지 검색바 */
  /* 페이지 버튼그룹 */
  /* 페이지 그리드 */
}
#AXPage .ax-body .ax-box h1 {
  position: relative;
  display: block;
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0px 0px;
}
#AXPage .ax-body .ax-box h1 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box h2 {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  padding: 0px 0px;
  height: 37px;
  line-height: 37px;
}
#AXPage .ax-body .ax-box h2 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box h2:first-child {
  margin: 0px 10px;
}
#AXPage .ax-body .ax-box h2 i.axi {
  display: block;
  float: left;
  height: 37px;
  line-height: 37px;
  margin-right: 5px;
}
#AXPage .ax-body .ax-box h3 {
  font-size: 14px;
  color: #333333;
  font-weight: bold;
  margin: 15px 10px 10px 10px;
  padding: 0px 0px;
}
#AXPage .ax-body .ax-box h3 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-body .ax-box p {
  font-size: 12px;
  line-height: 1.6em;
  color: #333333;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-box.sample-01 .caution {
  color: #f39500;
}
#AXPage .ax-body .ax-box.sample-01 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-box.sample-01 ul li {
  float: left;
  width: 50%;
  padding: 2px 0px;
}
#AXPage .ax-body .ax-box .ax-content-toolbox {
  padding: 4px 5px;
  line-height: 36px;
  border-bottom: 1px solid #959595;
}
#AXPage .ax-body .ax-box .ax-box-wrap {
  margin: 20px;
}
#AXPage .ax-body .ax-box .ax-tab {
  margin: 10px 0px;
}
#AXPage .ax-body .ax-box .ax-search {
  border-top: 1px solid #959595;
  margin: 5px 0px;
}
#AXPage .ax-body .ax-box .ax-search:first-child {
  margin-top: 0px;
}
#AXPage .ax-body .ax-box .ax-button-group {
  margin: 5px 0px;
}
#AXPage .ax-body .ax-box .ax-button-group h1,
#AXPage .ax-body .ax-box .ax-button-group h2,
#AXPage .ax-body .ax-box .ax-button-group h3 {
  margin: 0px 5px;
  line-height: inherit;
}
#AXPage .ax-body .ax-box .ax-button-group .left {
  float: left;
  white-space: nowrap;
}
#AXPage .ax-body .ax-box .ax-button-group .right {
  float: right;
  white-space: nowrap;
}
#AXPage .ax-body .ax-box .ax-button-group:first-child {
  margin: 0px 0px;
}
#AXPage .ax-body .ax-box .ax-grid,
#AXPage .ax-body .ax-box .ax-tree,
#AXPage .ax-body .ax-box .ax-form,
#AXPage .ax-body .ax-box .ax-section {
  margin: 5px 0px;
  padding: 0px;
}
#AXPage .ax-body .ax-box .ax-grid:last-child,
#AXPage .ax-body .ax-box .ax-tree:last-child,
#AXPage .ax-body .ax-box .ax-form:last-child,
#AXPage .ax-body .ax-box .ax-section:last-child {
  margin-bottom: 0px;
}
#AXPage .ax-body .ax-content {
  float: none;
  width: auto;
  padding-left: 250px;
}
#AXPage .ax-body .ax-content.expand {
  padding-left: 0px;
}
#AXPage .ax-body .ax-content.expandAll {
  padding-left: 0px;
}
#AXPage .ax-aside {
  position: absolute;
  width: 228px;
  left: 0px;
  top: 135px;
  padding-bottom: 30px;
  z-index: 200;
}
#AXPage .ax-aside .ax-aside-menu-box {
  position: absolute;
  left: 0px;
  top: -51px;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 32px 32px 32px 32px;
  -moz-border-radius: 32px 32px 32px 32px;
  border-radius: 32px 32px 32px 32px;
  line-height: 32px;
  background: #6c6c6c;
  color: #ffffff;
  margin-left: 10px;
  text-align: center;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi {
  font-size: 20px;
  line-height: 30px;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi-fast-forward {
  display: none;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu .axi-rewind {
  display: inline;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu:hover,
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu:focus {
  background: #f39500;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu.on .axi-fast-forward {
  display: inline;
}
#AXPage .ax-aside .ax-aside-menu-box .ax-aside-menu.on .axi-rewind {
  display: none;
}
#AXPage .ax-aside .ax-aside-box i.axi {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  background: #333333;
  color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  margin-right: 5px;
}
#AXPage .ax-aside .ax-aside-box h3 {
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 7px 0px;
  background: #c9c9b5;
  -webkit-border-radius: 5px 0px 5px 0px;
  -moz-border-radius: 5px 0px 5px 0px;
  border-radius: 5px 0px 5px 0px;
}
#AXPage .ax-aside .ax-aside-box h3 a {
  margin: 0px 5px;
  cursor: pointer;
}
#AXPage .ax-aside .ax-aside-box h3 a.on {
  color: #505050;
  font-weight: bold;
}
#AXPage .ax-aside .ax-aside-box .ax-box {
  width: 100%;
  background: #fefefe;
  border: 1px solid #c8c8c8;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
#AXPage .ax-aside .ax-aside-box .ax-box h1 {
  font-size: 24px;
  color: #333333;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box p {
  font-size: 12px;
  line-height: 1.6em;
  color: #333333;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .caution {
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more {
  color: #505050;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more:hover,
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 .more:focus {
  text-decoration: underline;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box.sample-01 ul li {
  float: left;
  width: 50%;
  padding: 2px 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-box-wrap {
  margin: 20px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #c8c8c8;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent {
  position: relative;
  border-bottom: 1px solid #c8c8c8;
  background: #f3f3f3;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a {
  color: #333;
  display: block;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:hover,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:focus {
  background: #f3f3f3;
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:hover i.axi,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:focus i.axi {
  background: #f39500;
  border: 1px solid #f39500;
  color: #fff;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:hover .is-on,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent a:focus .is-on {
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.on > a {
  color: #fff;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.on a {
  background: #333;
  color: #fff;
  text-decoration: none;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.on a i.axi {
  background: #fff;
  border: 1px solid #fff;
  color: #333;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.on a .is-on {
  color: #fff;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent .is-on {
  position: absolute;
  right: 0px;
  top: 0px;
  line-height: 20px;
  padding: 7px 10px;
  color: #333;
  font-family: axicon;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent .is-on:after {
  content: "\f12f";
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.open {
  background: #f3f3f3;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.open i.axi {
  background: #f39500;
  border: 1px solid #f39500;
  color: #fff;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.open .is-on {
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul li.parent.open .is-on:after {
  content: "\f199";
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child {
  position: relative;
  padding: 0px 0px 0px 0px;
  border-top: 1px solid #c8c8c8;
  display: none;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child.on {
  display: block;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child.sub_child {
  border-top: 0px none;
  padding: 0px 0px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child {
  list-style: none;
  border-bottom: 0px none;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child a {
  background: #fff;
  color: #525252;
  padding-left: 20px;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child a:hover,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child a:focus {
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child a:hover i.axi,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child a:focus i.axi {
  background: #f39500;
  color: #fff;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.on {
  text-decoration: underline;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.on a {
  color: #f39500;
  background: #f3f3f3;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.on a:hover,
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.on a:focus {
  color: #f39500;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.sub_child a {
  background: #fff;
  font-weight: normal;
  line-height: 15px;
  padding: 4px 0px;
  padding-left: 40px;
}
#AXPage .ax-aside .ax-aside-box .ax-box .ax-aside-ul ul.child li.child.sub_child:last-child a {
  padding-bottom: 10px;
}
#AXPage .ax-footer {
  position: fixed;
  z-index: 200;
  height: 20px;
  width: 100%;
  bottom: 0px;
  line-height: 22px;
  border-top: 1px solid #c8c8c8;
  background: #3b3b3b;
}
#AXPage .ax-footer .ax-version {
  color: #fff;
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: Consolas;
  text-shadow: 0px -1px 0px #444444;
}
#AXPage .ax-footer .ax-version li {
  float: left;
  margin-right: 16px;
}
#AXPage .ax-footer .ax-funcs {
  float: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-footer .ax-funcs li {
  float: left;
  margin-left: 5px;
}
#AXPage .ax-footer .ax-funcs li a {
  display: block;
  width: 69px;
  height: 30px;
}
#AXPage .ax-footer .ax-funcs li .fn-0 {
  background: url(images/foot-fn-0.png) center center no-repeat;
}
#AXPage .ax-footer .ax-funcs li .fn-1 {
  width: 45px;
  background: url(images/foot-fn-1.png) center center no-repeat;
}
#AXPage .ax-footer .ax-funcs li .fn-2 {
  width: 50px;
  background: url(images/foot-fn-2.png) center center no-repeat;
}
#AXPage .ax-footer .ax-funcs li .fn-3 {
  background: url(images/foot-fn-3.png) center center no-repeat;
}
#AXPage .ax-footer .ax-funcs li .fn-4 {
  background: url(images/foot-fn-4.png) center center no-repeat;
}
#AXPage.login .ax-title {
  height: 50px;
  overflow: hidden;
  padding: 20px;
}
#AXPage.login .ax-title h1 {
  display: block;
  height: 30px;
  line-height: 30px;
  float: none;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  padding: 0px;
  color: #505050;
}
#AXPage.login .ax-title .desc {
  display: block;
  height: 30px;
  line-height: 30px;
  float: none;
  color: #333333;
  text-align: center;
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#AXPage.login .ax-box {
  width: 300px;
  margin: 0px auto;
}
#AXPage.login .ax-box h1 {
  text-align: left;
  color: #676a6c;
  font-weight: normal;
  line-height: 20px;
}
#AXPage.login .ax-box h1 small {
  margin-left: 10px;
  color: #c1bfbf;
  font-size: 12px;
  line-height: 20px;
}
#AXPage.login .ax-box p {
  text-align: center;
  color: #a6a6a6;
  margin: 0px;
}
#AXPage.login .ax-box .ax-input {
  display: block;
  padding: 4px 0px;
}
#AXPage.login .ax-box .ax-input .name {
  display: none;
}
#AXPage.login .ax-box .ax-input .AXInput {
  width: 100px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  text-indent: 10px;
}
#AXPage.login .ax-box .ax-input .AXSelect {
  width: 100px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  text-indent: 10px;
}
#AXPage.login .ax-box .ax-funcs {
  padding: 4px 0px;
}
#AXPage.login .ax-box .ax-funcs .AXCheckbox {
  float: left;
}
#AXPage.login .ax-box .ax-funcs .AXCheckbox label {
  padding: 0px !important;
}
#AXPage.login .ax-box .ax-funcs button {
  float: right;
  font-weight: 800;
}
#AXPage.login .ax-box .ax-opts {
  padding: 20px;
  border-top: 1px solid #959595;
  text-align: center;
}
#AXPage .ax-modal-header {
  height: 40px;
  overflow: hidden;
  padding: 10px;
}
#AXPage .ax-modal-header h1 {
  display: block;
  height: 24px;
  line-height: 40px;
  float: none;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-modal-header .desc {
  display: none;
  display: block;
  height: 16px;
  line-height: 16px;
  float: none;
  color: #333333;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#AXPage .ax-modal-sub-header {
  padding: 10px;
}
#AXPage .ax-modal-sub-header h1,
#AXPage .ax-modal-sub-header h2,
#AXPage .ax-modal-sub-header h3 {
  display: block;
  height: 18px;
  line-height: 18px;
  float: none;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
  text-align: left;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-modal-sub-header .desc {
  display: block;
  height: 16px;
  line-height: 16px;
  float: none;
  color: #333333;
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#AXPage .ax-modal-body {
  margin: 0px 0px;
  min-height: 50px;
}
#AXPage .ax-modal-body H3 {
  color: #616161;
  margin: 10px 10px;
}
#AXPage .ax-modal-body .tree-in-form {
  height: 400px;
  border: 1px solid #858585;
  border-radius: 4px;
}
#AXPage .ax-modal-body .form-in-form {
  border: 1px solid #959595;
  border-radius: 4px;
}
#AXPage .ax-modal-body .buttons-in-form {
  padding: 5px;
}
#AXPage .ax-modal-body .ax-box {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c8c8c8;
  -webkit-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 2px 0 rgba(0, 0, 0, 0.05);
  /* 페이지 검색바 */
  /* 페이지 버튼그룹 */
  /* 페이지 그리드 */
}
#AXPage .ax-modal-body .ax-box h1 {
  position: relative;
  display: block;
  font-size: 20px;
  color: #333333;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px 0px;
}
#AXPage .ax-modal-body .ax-box h1 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-modal-body .ax-box h2 {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  margin: 0px 10px 0px 10px;
  padding: 0px 0px;
  height: 32px;
  line-height: 32px;
}
#AXPage .ax-modal-body .ax-box h2 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-modal-body .ax-box h2:first-child {
  margin: 0px 10px;
}
#AXPage .ax-modal-body .ax-box h3 {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  margin: 15px 10px 10px 10px;
  padding: 0px 0px;
}
#AXPage .ax-modal-body .ax-box h3 .more {
  font-size: 14px;
  float: right;
}
#AXPage .ax-modal-body .ax-box p {
  font-size: 12px;
  line-height: 1.6em;
  color: #333333;
  font-weight: normal;
  margin: 10px 0px;
  padding: 0px;
}
#AXPage .ax-modal-body .ax-box.sample-01 .caution {
  color: #f39500;
}
#AXPage .ax-modal-body .ax-box.sample-01 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#AXPage .ax-modal-body .ax-box.sample-01 ul li {
  float: left;
  width: 50%;
  padding: 2px 0px;
}
#AXPage .ax-modal-body .ax-box .ax-content-toolbox {
  padding: 4px 5px;
  line-height: 36px;
  border-bottom: 1px solid #959595;
}
#AXPage .ax-modal-body .ax-box .ax-box-wrap {
  margin: 20px;
}
#AXPage .ax-modal-body .ax-box .ax-tab {
  margin: 10px 0px;
}
#AXPage .ax-modal-body .ax-box .ax-search {
  border-top: 1px solid #959595;
  margin: 5px 0px;
}
#AXPage .ax-modal-body .ax-box .ax-button-group {
  margin: 5px 0px;
}
#AXPage .ax-modal-body .ax-box .ax-button-group h1,
#AXPage .ax-modal-body .ax-box .ax-button-group h2,
#AXPage .ax-modal-body .ax-box .ax-button-group h3 {
  margin: 0px 10px 0px 10px;
  line-height: inherit;
}
#AXPage .ax-modal-body .ax-box .ax-button-group .left {
  float: left;
  white-space: nowrap;
}
#AXPage .ax-modal-body .ax-box .ax-button-group .right {
  float: right;
  white-space: nowrap;
}
#AXPage .ax-modal-body .ax-box .ax-button-group:first-child {
  margin: 0px 0px;
}
#AXPage .ax-modal-body .ax-box .ax-grid,
#AXPage .ax-modal-body .ax-box .ax-tree,
#AXPage .ax-modal-body .ax-box .ax-form,
#AXPage .ax-modal-body .ax-box .ax-section {
  margin: 5px 0px;
  padding: 0px;
}
#AXPage .ax-modal-body .ax-box .ax-grid:last-child,
#AXPage .ax-modal-body .ax-box .ax-tree:last-child,
#AXPage .ax-modal-body .ax-box .ax-form:last-child,
#AXPage .ax-modal-body .ax-box .ax-section:last-child {
  margin-bottom: 0px;
}
#AXPage .ax-modal-footer {
  padding: 10px 0px 20px 0px;
}
#AXPage .ax-modal-footer .ax-unit.center {
  text-align: center;
}
#AXPage .ax-modal-footer .ax-unit.right {
  text-align: right;
}
#AXPage .ax-modal-footer .left {
  float: left;
}
#AXPage .ax-modal-footer .right {
  float: right;
}
.ax-scroll-top {
  display: none;
}
.ax-rwd-form {
  margin: 5px 0px;
}
.ax-rwd-form:last-child {
  margin-bottom: 0px;
}
.ax-rwd-table {
  position: relative;
  border-top: 1px solid #959595;
  border-right: 1px solid #959595;
}
.ax-rwd-table .table-title {
  border-bottom: 1px solid #959595;
  clear: both;
}
.ax-rwd-table .item-group {
  position: relative;
  min-height: 30px;
}
.ax-rwd-table .item-group.gray {
  background: #eee;
  padding: 0px;
  min-height: 25px;
}
.ax-rwd-table .item-group .item {
  float: left;
  line-height: 20px;
  min-height: 20px;
  padding: 0px;
  text-align: center;
  position: relative;
  display: table;
  table-layout: fixed;
}
.ax-rwd-table .item-group .item .item-lable {
  position: relative;
  display: table-row;
  *display: block;
  *float: left;
}
.ax-rwd-table .item-group .item .item-lable span.th {
  display: table-cell;
  position: relative;
  *display: block;
  *float: left;
  color: #333;
  border-left: 1px solid #959595;
  border-right: 1px solid #959595;
  min-height: 20px;
  line-height: 20px;
  padding: 7px 0px;
  box-sizing: border-box;
  min-width: 100px;
  background: #e7e7e7;
}
.ax-rwd-table .item-group .item .item-lable span.th span.nowrap {
  position: absolute;
  display: block;
  width: 100%;
}
.ax-rwd-table .item-group .item .item-lable span.th.none {
  border: 0px none;
}
.ax-rwd-table .item-group .item .item-lable span.td {
  display: table-cell;
  *display: block;
  *float: left;
  height: 20px;
  line-height: auto;
  padding: 5px 5px;
  *line-height: 20px;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: left;
  min-width: 300px;
}
.ax-rwd-table .item-group .item .item-lable span.td.selectBox {
  *padding-top: 7px;
  *height: 28px;
}
.ax-rwd-table .item-group .item .item-lable span.td.inputText {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-lable span.td.button {
  *padding-top: 6px;
  *height: 29px;
}
.ax-rwd-table .item-group .item .item-lable span.td select {
  box-sizing: border-box;
  height: 23px;
  margin: 0px;
}
.ax-rwd-table .item-group .item .item-lable span.td input {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item .item-lable span.td label {
  vertical-align: middle;
}
.ax-rwd-table .item-group .item.fullWidth {
  position: relative;
  display: table;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable {
  position: relative;
  display: table-row;
  float: none;
  clear: both;
  width: 100%;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable span.th {
  width: 100px;
}
.ax-rwd-table .item-group .item.fullWidth .item-lable input[type=text],
.ax-rwd-table .item-group .item.fullWidth .item-lable input[type=password],
.ax-rwd-table .item-group .item.fullWidth .item-lable .AXInput,
.ax-rwd-table .item-group .item.fullWidth .item-lable select,
.ax-rwd-table .item-group .item.fullWidth .item-lable textarea {
  width: 100%;
  height: 23px;
  box-sizing: border-box;
}
.ax-rwd-table .item-group .item.rightPadding0 .item-lable span.td {
  padding-right: 0px;
}
.ax-rwd-table .item-group .item.leftPadding0 .item-lable span.td {
  padding-left: 0px;
}
.ax-rwd-table .item-group .item.padding0 .item-lable span.td {
  padding: 5px 0px;
}
.ax-rwd-table .item-group .group-clear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #959595;
  clear: both;
}
.ax-rwd-table .item-group.sm {
  min-height: 30px;
}
.ax-rwd-table .item-group.sm .item .item-lable span.th {
  padding: 5px 0px;
}
.ax-rwd-table .item-group.sm .item .item-lable span.td {
  padding: 0px 5px;
}
.ax-rwd-table-mobile {
  border-top: 1px solid #e2e2e2;
  border-right: 0px none;
}
.ax-rwd-table-mobile .item-group {
  position: relative;
  min-height: 40px;
}
.ax-rwd-table-mobile .item-group.gray {
  background: #eee;
  padding: 0px;
  min-height: 25px;
}
.ax-rwd-table-mobile .item-group .item {
  float: none;
  line-height: auto;
  min-height: auto;
  padding: 0px;
  text-align: left;
  position: relative;
}
.ax-rwd-table-mobile .item-group .item .item-lable {
  position: relative;
  display: block;
  float: left;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.th {
  display: block;
  float: none;
  color: #616161;
  border: none;
  padding: 0px;
  margin: 10px 10px 10px 15px;
  box-sizing: content-box;
  text-align: left;
  font-weight: bold;
  background: none;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td {
  display: block;
  float: none;
  height: auto;
  line-height: auto;
  padding: 0px;
  margin: 0px 10px 10px 10px;
  *line-height: 30px;
  box-sizing: content-box;
  vertical-align: middle;
  text-align: left;
  min-width: 100px;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td select {
  box-sizing: border-box;
  height: 23px;
  margin: 0px;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td input {
  vertical-align: middle;
}
.ax-rwd-table-mobile .item-group .item .item-lable span.td label {
  vertical-align: middle;
}
.ax-rwd-table-mobile .item-group .item.secondItem .item-lable span.th {
  border-left: none;
}
.ax-rwd-table-mobile .item-group .item.rightPadding0 .item-lable span.td {
  padding-right: 0px;
}
.ax-rwd-table-mobile .item-group .item.leftPadding0 .item-lable span.td {
  padding-left: 0px;
}
.ax-rwd-table-mobile .item-group .item.padding0 .item-lable span.td {
  padding: 5px 0px;
}
.ax-rwd-table-mobile .item-group .item-clear {
  clear: both;
}
.ax-rwd-table-mobile .item-group .group-clear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #e2e2e2;
  clear: both;
}
table.ax-layout {
  border-collapse: collapse;
  border: 0px none;
  width: 100%;
  table-layout: fixed;
}
table.ax-layout td,
table.ax-layout th {
  padding: 0px;
}
table.ax-layout td .tdRel,
table.ax-layout th .tdRel {
  position: relative;
}
table.ax-layout tbody td,
table.ax-layout tbody th {
  min-height: 25px;
  overflow: visible;
  border: 0px none;
}
table.ax-layout tbody tr.gray th,
table.ax-layout tbody tr.gray td {
  background-color: #F5F5F5;
}
table.ax-layout tbody tr.red th,
table.ax-layout tbody tr.red td {
  background-color: #FFE8E8;
}
table.ax-layout tbody tr.green th,
table.ax-layout tbody tr.green td {
  background-color: #F7FDEA;
}
table.ax-layout tbody tr.blue th,
table.ax-layout tbody tr.blue td {
  background-color: #EAF5FD;
}
table.ax-layout tbody tr.yellow th,
table.ax-layout tbody tr.yellow td {
  background-color: #FEFEE9;
}
table.ax-layout tbody tr td.gray {
  background-color: #F5F5F5;
}
table.ax-layout tbody tr td.red {
  background-color: #FFE8E8;
}
table.ax-layout tbody tr td.green {
  background-color: #F7FDEA;
}
table.ax-layout tbody tr td.blue {
  background-color: #EAF5FD;
}
table.ax-layout tbody tr td.yellow {
  background-color: #FEFEE9;
}
table.ax-layout.padding10 {
  border-spacing: 10px;
  border-collapse: separate;
}
table.ax-layout.padding5 {
  border-spacing: 5px;
  border-collapse: separate;
}
table.ax-layout.padding15 {
  border-spacing: 15px;
  border-collapse: separate;
}
table.ax-layout.padding20 {
  border-spacing: 20px;
  border-collapse: separate;
}
@media only screen and (max-width: 1024px) {
  #AXPage .ax-header .ax-loginfo {
    display: none;
  }
  #AXPage .ax-header .mx-loginfo {
    display: block;
    float: right;
    line-height: 60px;
    padding-right: 10px;
  }
  #AXPage .ax-header .mx-menu-button {
    font-size: 30px;
    color: #ffffff;
  }
  #AXPage .ax-header .mx-menu-button:hover,
  #AXPage .ax-header .mx-menu-button:focus {
    color: #f39500;
  }
}
/*
@media @mobile {

	#AXPage{
		.ax-wrap 	{margin:0px auto;}
		.ax-clear	{clear:both;}
		.ax-unit	{margin:0px 0px;}
		.ax-col		{float:left;}
		div[class*="ax-col-"] {float:left; height: inherit;}
		.ax-col-1	{width:100%}
		.ax-col-2	{width:100%}
		.ax-col-3	{width:100%}
		.ax-col-4	{width:100%}
		.ax-col-5 	{width:100%}
		.ax-col-6	{width:100%}
		.ax-col-7	{width:100%}
		.ax-col-8	{width:100%}
		.ax-col-9	{width:100%}
		.ax-col-10 	{width:100%}
		.ax-col-11	{width:100%}
		.ax-col-12	{width:100%}

		div[class*="mx-"] {display:block;}

		.ax-header{
			position: absolute;
			opacity: 1;
			.ax-col-8{width:50%;}
			.ax-col-4{width:50%;}
			.ax-logo{
				z-index: -1;
				position: absolute;
				top:0px; left:0px;
				width:100%;
				text-align: center;
				a#logo-icon{
					display:block;
					margin:0px auto;
					width:193px;height:60px;
				}
				small{display: none;}
			}
			.ax-top-menu{
				display: none;
			}
			.mx-top-menu{
				float: left;
				line-height: 60px;
				padding-left:10px;
				padding-top:3px;
				//a{color:#9EA6B9;}
			}
			.ax-loginfo{
				display: none;
			}
			.mx-loginfo{
				float: right;
				line-height: 60px;
				padding-right:10px;
			}

			.mx-menu-button{
				color:#9EA6B9;
				font-size:30px;
				&#mx-aside-menu-handle{
					margin-left:10px;
				}
				&:hover,&:focus{
					color:#fff;
				}
			}

		}
		.ax-body{

			.ax-title{
				height: 50px;overflow: hidden;
				padding:20px;
				h1{
					display:block;height: 25px;line-height:25px;float: none;
					font-size:24px; font-weight: normal; color:@color-a; text-align: center;
					margin:0px; padding:0px;
				}
				.desc{
					display:block;height: 20px;line-height:20px;float: none;
					color:@color-a; text-align: center; margin:0px 0px 0px 0px; padding:0px;
				}
				.expand{
					h1 {
						margin-left:0px;
					}
				}
			}
			.ax-content{
				padding-left:0px;
			}
			.ax-box {
				border-radius: 0px;
				border:0px none;
				border-top:3px solid #E7EAEC;
				border-bottom:1px solid #E7EAEC;
				// 페이지 검색바
				.ax-search {
					border-top:0px solid;
					margin: 0px 3px 10px 3px;
				}
				// 페이지 버튼그룹
				.ax-button-group {
					margin: 10px 3px;
				}
				// 페이지 그리드
				.ax-grid, .ax-tree, .ax-form, .ax-section {
					margin: 10px 0px 3px 0px;
				}
			}
		}


		.ax-aside{
			display: none;
			&.ax-aside-open{
				position: absolute;
				width:100%;height:auto;
				left: 0px;top:62px;
				padding-bottom:50px;
				z-index:200;
				display:block;
				.ax-aside-menu-box{
					display:none;
				}
			}
			.ax-aside-box{
				background: #fff;
				padding: 10px;
				border-bottom: @border;
			}
		}

		.ax-footer{
			display: none;
		}
		&.login{
			.ax-box {
				width: auto;
				margin: 0px auto;
			}
		}

		// modal page
		.ax-modal-header{
			height: 40px;overflow: hidden;
			padding:10px;
			h1{
				display:block;height: 24px;line-height:40px;float: none;
				font-size:20px; font-weight: normal; color:@color-a; text-align: center;
				margin:0px; padding:0px;
			}
			.desc{
				display:none;height: 16px;line-height:16px;float: none;
				color:@color-a; text-align: center; margin:0px 0px 0px 0px; padding:0px;
			}
		}
		.ax-modal-body{
			margin: 0px 10px;
			.tree-in-form{
				height:300px;
				margin:0px 5px;
			}
			.form-in-form{
				border:@border-b;
				border-radius:4px;
				margin:0px 5px;
			}
			.buttons-in-form{
				padding:5px;
			}

		}
		.ax-modal-footer{
			padding:10px;
			.ax-unit.left{

			}
			.ax-unit.center{
				text-align: center;
			}
			.ax-unit.right{
				text-align: right;
			}
		}
	}
	.ax-scroll-top{
		position:fixed;
		z-index:2;
		top:-60px;
		left:0px;width:100%;

		//
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0.3s;
		//
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: linear;
		transition-delay: 0.3s;

		&.on{top:0px;}
		a{
			display: block;
			background: #000;color:#fff;
			padding: 7px 5px;
			width: 70px;
			margin:0px auto;
			text-align: center;
			.util-border-radius(0px,0px,10px,10px);
		}
	}
}
*/
@media (max-width: 500px) {
  .ax-rwd-table {
    border-top: 1px solid #e2e2e2;
    border-right: 0px none;
  }
  .ax-rwd-table .item-group {
    position: relative;
    min-height: 40px;
  }
  .ax-rwd-table .item-group.gray {
    background: #eee;
    padding: 0px;
    min-height: 25px;
  }
  .ax-rwd-table .item-group .item {
    float: none;
    line-height: auto;
    min-height: auto;
    padding: 0px;
    text-align: left;
    position: relative;
  }
  .ax-rwd-table .item-group .item .item-lable {
    position: relative;
    display: block;
    float: left;
  }
  .ax-rwd-table .item-group .item .item-lable span.th {
    display: block;
    float: none;
    color: #616161;
    border: none;
    padding: 0px;
    margin: 10px 10px 10px 15px;
    box-sizing: content-box;
    text-align: left;
    font-weight: bold;
    background: none;
  }
  .ax-rwd-table .item-group .item .item-lable span.td {
    display: block;
    float: none;
    height: auto;
    line-height: auto;
    padding: 0px;
    margin: 0px 10px 10px 10px;
    *line-height: 30px;
    box-sizing: content-box;
    vertical-align: middle;
    text-align: left;
    min-width: 100px;
  }
  .ax-rwd-table .item-group .item .item-lable span.td select {
    box-sizing: border-box;
    height: 23px;
    margin: 0px;
  }
  .ax-rwd-table .item-group .item .item-lable span.td input {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item .item-lable span.td label {
    vertical-align: middle;
  }
  .ax-rwd-table .item-group .item.secondItem .item-lable span.th {
    border-left: none;
  }
  .ax-rwd-table .item-group .item.rightPadding0 .item-lable span.td {
    padding-right: 0px;
  }
  .ax-rwd-table .item-group .item.leftPadding0 .item-lable span.td {
    padding-left: 0px;
  }
  .ax-rwd-table .item-group .item.padding0 .item-lable span.td {
    padding: 5px 0px;
  }
  .ax-rwd-table .item-group .item-clear {
    clear: both;
  }
  .ax-rwd-table .item-group .group-clear {
    font-size: 1px;
    line-height: 1px;
    height: 1px;
    background: #e2e2e2;
    clear: both;
  }
}
/* custome area */
.AXButton .axi {
  font-size: 15px;
  line-height: inherit;
  display: block;
  float: left;
  margin-right: 3px;
}
.AXButton .axi:last-child {
  margin-right: 0px;
}
.AXTree_none .bodyNodeIcon.userHtml .axi {
  font-size: 14px;
  line-height: inherit;
}
.ax-top-menu.AXMenuBox .parentMenu a {
  line-height: 20px;
}
.ax-top-menu.AXMenuBox .axi {
  font-size: 14px;
  line-height: inherit;
  display: inline-block;
  vertical-align: middle;
}
.W350 {
  width: 350px;
}
.W400 {
  width: 400px;
}
